# cache
*~
*.bk
*.bak
*.old
*.new

# IDE
.vs
.vscode
*.user

# output
.qmake.stash
Makefile*
tmp
*debug
*release

# run
*.log

# toolchains
# just push msvc14_x86 lib and dll
msvc14_x64
mingw32
mingw64
