# cache
*~
*.bk
*.bak
*.old
*.new

# IDE
.vs
.vscode
*.user

tags
cscope*
.ycm*

# output
*.o
*.obj

*.pid
*.log
*.db

.qmake.stash
tmp
*debug
*release

# toolchains
# just push msvc14_x86 lib and dll
msvc14_x64
mingw32
mingw64

# mine
3rd/include/qt5
